.About-header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.About-header .About-video {
  filter: grayscale(100%);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
  opacity: 0.75;
}
@keyframes fadein {
  from {
    opacity: 0.35;
  }
  to {
    opacity: 0.75;
  }
}

.About-header .About-container {
  position: relative;
  z-index: 2;
}

.About-header .About-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.About-hand {
  color: white;
}
.About-hand-col {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 25px;
}
