.About-header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
.About-header-text-size {
  padding-top: 8%;
  font-size: 6vw;
}
.About-subheader-text-size {
  font-size: 2.5vw;
}
.About-subheader-text-size-small {
  font-size: 3.5vw;
}
.About-text-ajdsize-small {
  font-size: 15vw;
}
.About-icon-adjsize-small {
  font-size: 40vw;
}
.About-header .About-video {
  filter: grayscale(100%);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  animation: fadein 0.5s;
  opacity: 0.75;
}
@keyframes fadein {
  from {
    opacity: 0.35;
  }
  to {
    opacity: 0.75;
  }
}
.About-header .About-container {
  position: relative;
  z-index: 2;
}
.About-header .About-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.About-hand {
  color: white;
  text-align: center;
}
.About-hand-col {
  text-align: center;
}
.About-pd-top {
  padding-top: 500px;
}
.About-pd-bot {
  padding-bottom: 25px;
}
.row {
  margin-right: 0 !important;
}
.About-mb-img {
  text-align: center;
  width: 50%;
  height: auto;
}
.About-mb-img-small {
  text-align: center;
  width: 65%;
  height: auto;
}
.About-col {
  text-align: center;
  padding-bottom: 25px;
}
.About-ul {
  text-align: center;
  list-style-position: inside;
  color: black;
  display: inline-block;
}
.About-card {
  width: 25rem;
  height: auto;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  background-color: rgba(60, 60, 60, 0.5);
}
.About-definition-help {
  cursor: help;
}
.About-hover-info {
  font-size: 12px;
}
.About-card-text {
  text-align: center;
  opacity: 1;
  color: white;
}
.About-fade-in {
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.About-invis {
  opacity: 0;
}
