.Board-center {
  margin-bottom: 12px;
  border: 12px solid;
  border-inline-start-color: #848080;
  border-inline-end-color: #848080;
  border-block-start-color: #848080;
  border-block-end-color: #848080;
  border-radius: 25px;
}
